/* original malasngoding.com */
/* di edit lagi ya ini sayang. */

body{
	font-family: sans-serif;
	background: #eb8da0;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.a{
	font-family: font-family: 'Major Mono Display', monospace;
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
	color: #336699;
}

.login-box{
	width: 350px;
	background-color:#f7f0f1;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}

label{
	font-size: 11pt;
	color: #336699;
	font-family: font-family: 'Major Mono Display', monospace;
	
}

/* body */
body {
	margin: 0;
	font-size:14px;
	background-color:#FFFF;
}
#judul{
    float: left;
    width: 610px;
}
#judul a {
    line-height: 65px;
    text-decoration: none;
    padding-left: 60px;
    color:#FFFF;
	font-family: 'Allura', cursive;
    font-size: 40px;
}

.form{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.submit{
	background: #07b39f;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	font-family: font-family: 'Major Mono Display', monospace;
}

.link{
	text-decoration: none;
	font-size: 10pt;
	color: #336699;
	font-family: font-family: 'Major Mono Display', monospace;
}